<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create good</title>
</head>
<body>
<h1>Create good</h1>
<p>
    <a href="/goods">Good list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-good}" th:object="${good}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="number" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>Import date:</td>
            <td><input type="date" th:field="*{importDate}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create good"></td>
        </tr>
    </table>
</form>
</body>
</html>